<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/w3.css}">
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}">
    <link rel="shortcut icon" th:href="@{/assets/favicon.ico}">
    <title>PWeb - by Thalyson</title>
    <meta codigoSecreto="1069806749588560000">
</head>
<body>
    <div class="w3-bar w3-black w3-xlarge">
    <a href="/" class="w3-bar-item w3-button w3-mobile w3-light-green">Inicio</a>
    <a href="/adicionarPessoa" class="w3-bar-item w3-button w3-mobile">Adiciona pessoa</a>
    <a href="/listarPessoas" class="w3-bar-item w3-button w3-mobile">Listar pessoas</a>
    <a href="/public/noticias.html" class="w3-bar-item w3-button w3-mobile w3-right">Noticias</a>
    <a href="/public/sobre.html" class="w3-bar-item w3-button w3-mobile w3-right">Sobre o site</a>
    <a href="/public/contato.html" class="w3-bar-item w3-button w3-mobile w3-right">Contato</a>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="index.html" class="w3-bar-item w3-button w3-mobile">Inicio</a>
        <a href="adicionarPessoa.html" class="w3-bar-item w3-button w3-mobile">Adiciona pessoa</a>
        <a href="listarPessoas.html" class="w3-bar-item w3-button w3-mobile">Listar pessoas</a>
        <a href="noticias.html" class="w3-bar-item w3-button w3-mobile">Noticias</a>
        <a href="sobre.html" class="w3-bar-item w3-button w3-mobile">Sobre o site</a>
        <a href="contato.html" class="w3-bar-item w3-button w3-mobile">Contato</a>
      </div>
    </div>
</div>


      <center>
        <h1>Hidrate-se!</h1>
        <img src="assets/agua.jpg" title="Água" alt="idrate-se" width="400">
      </center>

    
</body>
</html>